.demo{
    margin-top: 15%;
    margin-bottom: 15%;
    
}
.heads{
    font-size: 3em;
}
.prefix{
    width: 300px;
}
.demo_img{
    position: absolute;
    width: 90% !important;
    margin-left: -180px !important;
}
