.margin{
    padding: 0;
    margin: 0;
}
.yel{
    color:  #D9EF78 !important;
}
.yield{
    background-color:#D9EF78  !important;
}
// .backk{
//      position: absolute;
//      margin: -20px;
//      padding: -20px;
// }
.btn{
    border-radius: 50px !important;

}